In [1]:
import ibis
import datetime

ibis.set_backend("polars")

In [4]:
today = datetime.datetime.today()

time = "11:00"

In [5]:
today = str(today.date())

In [6]:
a = datetime.datetime.strptime(today + time, "%Y-%m-%d%H:%M")

In [ ]:
b = datetime.datetime.strptime(today + "10:30", "%Y-%m-%d%H:%M")

In [ ]:
table = ibis.read_csv("./records.csv")

table2 = table.mutate(
    経過時間=(
        datetime.datetime.strptime(today + time, "%Y-%m-%d%H:%M")
        - datetime.datetime.strptime(today + "10:30", "%Y-%m-%d%H:%M")
    ).total_seconds()
)

In [20]:
table2.execute()

  start_time end_time       date annkenn work kousuutukesaki    経過時間
0      10:30    11:00  2024-11-1       d    e              f  1800.0

In [ ]:
table = ibis.memtable(df)
table2 = table.mutate(
    経過時間=(
        datetime.datetime.strptime(today + data.end_time, "%Y-%m-%d%H:%M")
        - datetime.datetime.strptime(today + data.start_time, "%Y-%m-%d%H:%M")
    ).total_seconds(),
)

read_table = ibis.read_csv("./records.csv")

output_table = ibis.connect([table2, read_table])
output_table.to_csv("./records.csv")

In [11]:
import ibis

ibis.set_backend("polars")

In [16]:
t = ibis.read_csv("records.csv")
df = t.execute()

In [17]:
df["id"] = df.index

In [18]:
df

  start_time  end_time annkenn work kousuutukesaki          日付  経過時間  id
0   23:23:00  23:23:00                              2024-12-01     0   0
1   23:23:00  23:23:00                              2024-12-01     0   1
2   23:23:00  23:23:00                              2024-12-01     0   2
3   23:23:00  23:23:00                              2024-12-01     0   3
4   23:23:00  23:23:00                              2024-12-01     0   4

In [7]:
import pandas as pd

df = pd.read_csv("./records_old.csv")

In [9]:
df.rename(
    columns={
        "start_time": "開始時刻",
        "end_time": "終了時刻",
        "annkenn": "案件",
        "kousuutukesaki": "工数付け先",
        "work": "作業内容",
    },
).to_csv("./records.csv")